
.project-container{
    min-height: 100vh;
    scroll-snap-align: start;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-section{
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 70%;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:5vw;
}
.project-card{
    border-radius: 10px;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    align-items: center;
    background-color: rgb(9, 9, 9);;
    margin-bottom:4vw;

}
.hidden-project{
    opacity: 0;
    transform: translateY(100px);
}
.show-project{
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s;
}

.project-section-title{
    color: #B72C2C;
    font-size: 26px;
    font-weight: bold;
    font-family: "ChakraPetch";
}
.project-section-description{
    color:#d1d1d1;
    font-size: 18px;
    font-family: "ChakraPetch";
}
.project-details{
    margin-right: 10px;
    font-size: 26px;
    width: 50%;
    padding: 20px;
    height: 100%;
    background-color: rgb(9, 9, 9);
   
}
.project-description{
    
    font-family: "ChakraPetch";
    font-size: 18px;
    color: #d1d1d1 ;
    /* border: 2px solid #9D9D9D ; */
    border-radius: 5px;
    /* background-color: black; */

}
.project-img-container{
    width: 50%;
    display: flex;
    margin-right: 25px;
    align-items: center;

    
}
.project-img{
    display: block;
    border: 2px solid #9D9D9D;
    border-radius: 0px;
    width: 100%;
    height: auto;
}
.project-stack{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.stack-tag{
    margin: 0px 10px 10px 0px;
    font-family: "ChakraPetch";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 7px 7px;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
}
/* utility classes */

.react{
    background-color: #6c99d32a;
    color:#6C98D3;
    border-color: #6C98D3;
}
.node{
    background-color: #3f873f27;
    color:#3F873F;
    border-color: #3F873F;
}

.python{
    background-color: rgba(141, 133, 45, 0.147);
    color:#ada011;
    border-color: #ada011;
}

.socket{
    background-color: #c9c9c937;
    color:#c9c9c9;
    border-color: #c9c9c9;
}

.express{
    background-color: #95959529;
    color:#959595;
    border-color: #959595;
}
.firebase{
    background-color: #ff730017;
    color:#FF7300;
    border-color: #FF7300;
}
.stack-img{
    margin: 0px 7px 0px 0px;
    height: 15px;
}
.project-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    margin-top: 30px;
    padding: 5px 5px;
}
.project-links a{
    margin-right: 20px;
}

/* media queries */
@media only screen and (max-width: 1400px){
.project-section{
    width: 80%;
    margin: 50px;
}

.project-card{
    justify-content: center;
}

.project-img-container{
    display: flex;
    padding-bottom: 0px;
    justify-content: center;
}
.project-description{
    margin: 0px;
    position: initial;
}
}

@media only screen and (max-width: 900px){
    .project-section{
        width: 80%;
        margin: 60px 0px;
        
    }
    .project-card{
        flex-direction: column;
        width: 100%;
        margin-bottom: 10vw;
    }
    .project-img-container{
        margin: 0;
        width: 100%;
    }
    .project-details{
        padding: 0;
        width: 100%;
    }
    .project-img{
        width: 100%;
        
    }
}