.about-container{
    min-height: 100vh;
    scroll-snap-align: start;
    background-color: #090909;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.intro-container{
    width: 80%;
    display: flex;
    justify-content: center;
}
.about{
    margin: 50px 50px;
    width: 50%;
}
.tools{
    margin: 50px 50px;
    width: 50%;
}

.skills{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.skill-tag{
    font-family: "ChakraPetch";
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 10px;
    /* border: white solid; */
    min-width: 180px;
    display: flex;
    align-items: center;
    color:#9D9D9D
}
.tag-img{
    height: 24px;
    margin: 5px 20px 5px 5px;
}

@media only screen and (max-width: 1400px){
    .intro-container{
        flex-wrap:wrap;
        width: 100%;
    }
    .devider{
        display: none;
    }
    .about, .tools{
        width: 80%;
    }
    
}
@media only screen and (max-width: 600px){
    .skills{
        justify-content: space-between;
    }
    .skill-tag{
        min-width: 0px;
        width: 40%;
        font-size: 3vw;
    }

}