.about-container{
    min-height: 100vh;
    scroll-snap-align: start;
    background-color: #090909;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.intro-container{
    width: 80%;
    display: flex;
    justify-content: center;
}
.about{
    margin: 50px 50px;
    width: 50%;
}
.tools{
    margin: 50px 50px;
    width: 50%;
}

.skills{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.skill-tag{
    font-family: "ChakraPetch";
    font-size: 18px;


    padding: 10px 10px;
    /* border: white solid; */
    min-width: 180px;
    display: flex;
    align-items: center;
    color:#d1d1d1;
}
.tag-img{
    height: 24px;
    margin: 5px 20px 5px 5px;
}

.devider{
    background-color:#222222;
     width:1px;
     margin:150px 40px;
}
@media only screen and (max-width: 1024px){
    .intro-container{
        width: 90%;
    }
    .devider{
        width: 1px;
        margin: 100px 0px;
    }
    .about, .tools{
        width: 80%;
    }
    
}
@media only screen and (max-width: 900px){
    .intro-container{
        width: 100%;
        flex-wrap: wrap;
    }
    .skills{
        justify-content: space-between;
    }
    .skill-tag{
        min-width: 0px;
        width: 40%;
        font-size: 18px;
    }
    .about{
        margin: 0;
    }
    .tools{
        margin:20px 0px;
    }
    .devider{
        display: none;
    }

}