.about-container{
    min-height: 100vh;
    scroll-snap-align: start;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.intro-container{
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: center;
    
}
.hidden-about{
    opacity: 0;
    transform: translateY(200px);
}
.show-about{
    opacity: 1; 
    transition: all 0.45s ;
    
    transform: translateY(0px);
}

.about{
    margin: 50px 50px;
    width: 50%;
}
.tools{
    margin: 50px 50px;
    width: 50%;
}

.skills{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
.skill-tag{
    font-family: "Chakra Petch";
    font-size: 18px;


    padding: 10px 0px;
    /* border: white solid; */
    min-width: 140px;
    display: flex;
    align-items: center;
    color:#d1d1d1;
}
.tag-img{
    height: 24px;
    margin: 5px 10px 5px 5px;
}

.devider{
    background-color:#222222;
     width:1px;
     margin:150px 40px;
}
@media only screen and (max-width: 1400px){
    .intro-container{
        width: 90%;
    }
    .devider{
        width: 1px;
        margin: 100px 0px;
    }
    .about, .tools{
        width: 80%;
    }
    
}
@media only screen and (max-width: 900px){
    .intro-container{
        width: 100%;
        flex-wrap: wrap;
        padding:20px;
    }
    .skill-tag{
        min-width: 0px;
        width: 140px;
        font-size: 18px;
    }
    .about{
        margin: 0;
        flex-grow:1;
    }
    .tools{
        flex-grow:1;
        margin:20px 0px;
    }
    .devider{
        display: none;
    }

}