.home-container{
    min-height: 100vh;
    scroll-snap-align: start;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items:center ;
}
.home-logo{
    position: relative;
    height: 300px;
    width: 300px;
    transition: 0.2s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: 0.2;

}
.home-logo::after{

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transform: scale(1.06);
    width: 100%;
    height: calc(100% - 5px);
    content: '';
    border: solid 3px #B72C2C;
}
.home-logo:hover{
    transform: translateY(-10px);
    transition: 0.2;
}
.home-logo:hover .avatar-logo{
    transform: rotateY(180deg);
    transition: 0.4s;
}
.home-logo:hover .real-logo{
    transform: rotateY(0deg);
    transition: 0.4s;
}
.logo{
    transition: 0.4s;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}
.avatar-logo{
    
}
.real-logo{
    transform: rotateY(-180deg);

}
.home-greeting{
    padding:10px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items:center;
}
.hidden-home{
    opacity: 0;
    transform: translateY(-200px);
}
.show-home{
    opacity: 1; 
    transition: all 0.5s;
    transform: translateY(0px);
}

.home-greeting p {
    display: inline-block;
}
.home-greeting img{
    margin:60px 80px 60px 80px;
}
.resume-button{
    display: inline-block;
    font-family: "ChakraPetch";
    font-size: 24px;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #B72C2C;
    color: #B72C2C;
    transition: 0.3s;
}
.resume-button:hover{
    background-color: #2b00008b;
    transition: 0.3s;
    border-radius: 0px;
}
.hello-msg{
    margin: 12px 0px;
    color:white;
    font-family: "ChakraPetch";
    letter-spacing:1px; 
    font-size: 24px;
}
.name{
    margin: 0;
    color:#B72C2C;
    font-size: 70px;
    font-family:"MrRobot";
    letter-spacing:7px;
    line-height:80px;
}
.tagline{
    color:#d1d1d1;
    font-size: 24px;
    margin-top: 0px;
    font-family: "ChakraPetch"; 
    letter-spacing:2px;
}
.home-text{
    margin: 0px 5px;
    width: 50%;
}
@media only screen and (max-width: 1024px){
    .home-greeting img{
        
        margin: auto ;
    }
    
    .home-logo, .logo{
        height: 25vw;
        width: 25vw;
        margin: 0;
    }
    
    
    .home-text{
        width: 50%;
    }
    
    .hello-msg{
        font-size: 2vw;
    }
    .resume-button{
        font-size: 2vw;
        top: 20px;
        padding: 10px 20px;
        border: 2px solid;

    }
    .name{
        font-size: 6vw;
        line-height: 7vw;
    }
    .tagline{
        font-size: 2vw;
    }
}

@media only screen and (max-width: 768px){
    .home-text{
        text-align:center;
        width: 100%;
    }
    .logo-container{
        width: 100%;
    }    .home-logo, .logo{
        height: 270px;
        width: 270px;
        margin: 0;
    }
    
    
    .home-greeting{
        gap: 30px;
        flex-direction: column;
    }
    
    .hello-msg{
        font-size: 3vw;
    }
    .resume-button{
        font-size: 3vw;
        top: 20px;
        padding: 10px 10px;
        border: 2px solid;
        transform: translateX(-4%);
    }
    .name{
        font-size: 10vw;
        line-height: 10vw;
    }
    .tagline{
        font-size: 3vw;
    }
    
}

@media only screen and (max-width: 600px){
    
    .home-logo, .logo{
        height: 200px;
        width: 200px;
        margin: 0;
    }
    
    .home-greeting{
        gap: 30px;
        flex-wrap: wrap;
    }
    
    .hello-msg{
        font-size: 4vw;
    }
    .resume-button{
        font-size: 4vw;
        top: 20px;
        padding: 10px 10px;
        border: 2px solid;

    }
    .name{
        font-size: 11vw;
        line-height: 11vw;
    }
    .tagline{
        font-size: 4vw;
    }
    
}