.contact-container{
    min-height: 100vh;

    scroll-snap-align: start;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
    align-items: center;
}
.contact-content{
    margin: auto;
    text-align: center;
    opacity: 0;
}
.hidden-contact{
    opacity: 0;
    transform: translateY(100px);
}
.show-contact{
    opacity: 1; 
    transition: all 0.5s;
    transform: translateY(0px);
}
.contact-link{
    font-size: 18px;
    font-family: "Chakra Petch";
    padding: 15px 15px;
    display: flex;
    align-items:center;
    margin: 25px 25px;
    background-color: #B72C2C;
    border-radius: 100%;
    color: white;
    text-decoration: none;
}
.links-container2{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    
}
.getintouch{
    color:#B72C2C;
    font-size:54px;
    font-family:"MrRobot";
    margin:30px 0px;
    letter-spacing: 7px;
}
.getintouch-msg{
    color:#9D9D9D;
    font-size:18px;
    font-family:"Chakra Petch";
    margin: 10px;
}
@media only screen and (max-width: 768px){
   .getintouch{
        font-size: 6vw;
        line-height: 7vw;
   }
   .contact-link{
    margin: 10px 10px;;
   }
    
}

@media only screen and (max-width: 600px){
    .getintouch{
        font-size: 10vw;
        line-height: 11vw;
        
       }
    .getintouch-msg{
        font-size: 18px;
    }
    .links-container2{

    }
    .contact-link{
        
        font-size: 16px;
    }

}